<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> calculator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> calculator Main page</h1>
        {% if error %}
        <h1 style='color: red'> error:{{""}}</h1>
        {% endif %}
        <form method="post">
        {% csrf_token %}
        <label for="num1">Enter number 1:</label>
        <input type="text" name="num1" placeholder="enter number1"><br><br>
        <label for="num2">Enter number 2:</label>
        <input type="text" name="num2" placeholder="enter number1"><br><br>
        <label for="Operation">Enter operation:</label>
        <input type="text" name="Operation" placeholder="Enter operation"><br><br>
        <button type="submit"> submit</button>
        </form>
        {% if result %}
        <h1> result:{{result}}</h1>
        {% endif %}
       
        
    </body>
</html>